{% for mapler in include.data %}
<div class="row" id="{{ mapler.id }}">
  <div class="row-pic">
		{% include /functions/getmaplerpic.html mapler=mapler %}
	</div>
	<div class="row-info">
		<p>
      <a href="{{ mapler.website | default: "#" }}" target="_blank">{{ mapler.name }}</a>
       <mark>{{ mapler.prog }}</mark> <small>{{ mapler.started }} - {{ mapler.finished }}</small>
      <!-- {% include /functions/getmaplerthesis.html mapler=mapler %} -->
    </p>
    <p>{{ mapler.bio }}</p>
    {% if mapler.status == "former" %}
    <p>Current Status: {{ mapler.current }}</p> 
    {% endif %}
	</div>
</div>
{% endfor %}
